In [1]:
import pandas as pd

In [11]:
C = []
temp = 1
for i in range(0, 4):
    row = []
    for j in range(0, 2):
        number = []
        for k in range(0, 2):
            number.append(temp)
            temp = temp+1
        row.append(number)
    C.append(row)

In [12]:
pd.DataFrame(C)

          0         1
0    [1, 2]    [3, 4]
1    [5, 6]    [7, 8]
2   [9, 10]  [11, 12]
3  [13, 14]  [15, 16]

In [13]:
pd.DataFrame(C[0])

   0  1
0  1  2
1  3  4

In [14]:
pd.DataFrame(C[0][0])

   0
0  1
1  2

In [ ]:
tot2 = []
for i in range(0, len(C)):
    temp = 0
    for j in range(0, len(C[0])):
        temp = temp + C[i][j]
    tot2.append(temp)
pd.DataFrame(tot2)

In [ ]:
len(C)

In [ ]:
len(C[0])

In [ ]:
C

In [ ]:
C[0]

In [ ]:
tot = 0
for i in range(0, len(C)):
    tot = tot + C[i][0]
tot

In [ ]:
pd.DataFrame(C)

In [ ]:
A = [1, 2, 3]
B = [[1, 2], [3, 4], [5, 6]]

In [ ]:
pd.DataFrame(B)

In [ ]:
C = []
number = 1
for i in range(0, 3):
    row = []
    for j in range(0, 2):
        row.append(number)
        number = number +1
    C.append(row)

In [ ]:
pd.DataFrame(C)

In [ ]:
w = [1, 3, 3]

In [ ]:
w

In [ ]:
w.append(5)

In [ ]:
w

In [ ]:
w.append([6, 7])

In [ ]:
w

In [ ]:
pd.DataFrame(w)

In [ ]:
B[0][0]

In [ ]:
B[2][1]

In [ ]:
len(A)

In [ ]:
for i in range(0, len(A)):
    print(A[i])

In [ ]:
A[0]

In [ ]:
A[1]

In [ ]:
A[2]

In [ ]:
A[3]