In [1]:
import pandas as pd
import numpy as np

In [2]:
pd.read_excel("BTC-USD.xlsx").head()

,Date,Open,High,Low,Close,Adj Close,Volume
0,2014-09-17,465.864014,468.174011,452.421997,457.334015,457.334015,21056800.0
1,2014-09-18,456.859985,456.859985,413.104004,424.440002,424.440002,34483200.0
2,2014-09-19,424.102997,427.834991,384.532013,394.795990,394.795990,37919700.0
3,2014-09-20,394.673004,423.295990,389.882996,408.903992,408.903992,36863600.0
4,2014-09-21,408.084991,412.425995,393.181000,398.821014,398.821014,26580100.0

In [3]:
BTC = pd.read_excel("BTC-USD.xlsx")

In [4]:
BTC.shape

(2439, 7)

In [5]:
# print(pd.DataFrame(BTC).dropna())
print(pd.DataFrame(BTC).dropna().shape)

(2435, 7)

In [6]:
BTC_modify = pd.DataFrame(BTC).dropna()

In [12]:
type(BTC_modify["Open"])

pandas.core.series.Series

In [13]:
type(BTC_modify["Open"].to_numpy())

numpy.ndarray

In [14]:
type(list(BTC_modify["Open"]))

list

In [15]:
type(np.asarray(list(BTC_modify["Open"])))

numpy.ndarray

In [17]:
import numpy
import talib

close = numpy.random.random(30)
print(type(close))
print(talib.SMA(close, timeperiod=5))

close = BTC_modify["Close"].to_numpy()
print(type(close))
print(talib.SMA(close, timeperiod=5))

<class 'numpy.ndarray'>
[       nan        nan        nan        nan 0.75713994 0.82405743
 0.74760035 0.65836326 0.54588288 0.49377101 0.35077278 0.36414136
 0.38707002 0.40513335 0.46303273 0.48876707 0.53752409 0.46416791
 0.53907854 0.54501887 0.52148589 0.44289512 0.47016648 0.41358125
 0.36529657 0.35974591 0.31079492 0.40826257 0.52998277 0.43547439]
<class 'numpy.ndarray'>
[          nan           nan           nan ... 43333.1203126 42137.6304688
 40791.7976562]

In [18]:
# note that all ndarrays must be the same length!
inputs = {
    'open': BTC_modify["Open"].to_numpy(),
    'high': BTC_modify["High"].to_numpy(),
    'low': BTC_modify["Low"].to_numpy(),
    'close': BTC_modify["Close"].to_numpy(),
    'volume': BTC_modify["Volume"].to_numpy()
}

from talib.abstract import *

SMA(inputs, timeperiod=5) # calculate on close prices by default
# print(output)
# print(len(list(output)))
# print(pd.DataFrame(output).dropna())
# print(pd.DataFrame(output).dropna().shape)

array([          nan,           nan,           nan, ..., 43333.1203126,
       42137.6304688, 40791.7976562])