In [ ]:
a = 3
b = 2
print(2*3)

In [8]:
def addition(a, b):
    num = a + b
    return num

In [3]:
addition(3, 2)

5

In [ ]:
addition(1, 2)

In [14]:
def calc(a, b, typec):
    if(typec==0):
        print("+")
        return a+b
    elif(typec==1):
        print("-")
        return a-b
    elif(typec==2):
        print("*")
        return a*b
    elif(typec==3):
        print("/")
        return a/b

In [16]:
calc(10, 5, 3)

/

2.0

In [17]:
calc(10, 0, 3)

/

ZeroDivisionError: division by zero

In [23]:
def calc(a, b, typec):
    if(typec==0):
        print("+")
        return a+b
    elif(typec==1):
        print("-")
        return a-b
    elif(typec==2):
        print("*")
        return a*b
    elif(typec==3):
        if(b!=0):
            print("/")
            return a/b
        else:
            e_msg = "分母為0, 不能進行除法"
            return e_msg

In [24]:
calc(10, 0, 3)

'分母為0, 不能進行除法'

In [36]:
def main():
    print("開始計算")
    a = 4
    b = 0
    typec = 3
    num = calc(a, b, typec)
    print(num)
    a = 4
    b = 2
    typec = 1
    num = calc(a, b, typec)
    print(num)
    num = calc(a = 3, b = 2, typec= 2)
    print(num)

In [37]:
main()

開始計算
分母為0, 不能進行除法
-
2
*
6

In [38]:
def printStar():
    print("******************")

In [39]:
def main():
    printStar()
    print("Python")
    printStar()

In [40]:
main()

******************
Python
******************

In [41]:
def printStar_num(n):
    print("*"*n)

In [43]:
def main():
    printStar_num(3)
    print("Python")
    printStar_num(5)

In [44]:
main()

***
Python
*****

In [45]:
def my_function():
    print("Hello from a function")

In [47]:
my_function()
my_function()

Hello from a function
Hello from a function

In [48]:
def my_function(fname):
    print(fname + " Refsnes")

In [49]:
my_function("Emil")
my_function("Tobias")
my_function("Linus")

Emil Refsnes
Tobias Refsnes
Linus Refsnes

In [50]:
def my_function(fname, lname):
    print(fname + " " + lname)

In [53]:
my_function("Emil", "Refsnes")

Emil Refsnes

In [56]:
def my_function(*kids):
    print("The youngest child is " + kids[1])

In [57]:
my_function("Emil", "Tobias", "Linus")

The youngest child is Tobias

In [59]:
def my_function(child3, child2, child1):
    print("The children are ", child3, child2, child1)

In [61]:
my_function(child1 = "Emil", child2 = "Tobias", child3 = "Linus")
my_function("Linus", "Tobias", "Emil")

The children are  Linus Tobias Emil
The children are  Linus Tobias Emil

In [64]:
def my_function(**kid):
    print("His last name is " + kid["lname"])
    print("His first name is " + kid["fname"])

In [65]:
my_function(fname = "Tobias", lname = "Refsnes")

His last name is Refsnes
His first name is Tobias

In [66]:
def my_function(country = "Norway"):
    print("I am from " + country)

In [67]:
my_function("Sweden")
my_function("India")
my_function()
my_function("Brazil")

I am from Sweden
I am from India
I am from Norway
I am from Brazil

In [68]:
def my_function(food):
    for x in food:
        print(x)

fruits = ["apple", "banana", "cherry"]

my_function(fruits)

apple
banana
cherry

In [69]:
def my_function(x):
    return 5 * x

print(my_function(3))
print(my_function(5))
print(my_function(9))

15
25
45