In [23]:
import pandas as pd

In [1]:
list1 = [1, 2, 3]
list1

[1, 2, 3]

In [2]:
list1[0]

1

In [3]:
list1[1]

2

In [4]:
list1[2]

3

In [5]:
list2 = [0.5, "hi", 3]
list2

[0.5, 'hi', 3]

In [6]:
list3 = [0.5, "hi", [2, 3]]
list3

[0.5, 'hi', [2, 3]]

In [7]:
list3[0]

0.5

In [8]:
list3[1]

'hi'

In [9]:
list3[2]

[2, 3]

In [10]:
list3[2][0]

2

In [11]:
list3[2][1]

3

In [12]:
list4 = [[1, 2], [3, 4], [5, 6]]
list4

[[1, 2], [3, 4], [5, 6]]

In [13]:
list4[0]

[1, 2]

In [16]:
list4[0][0]

1

In [17]:
list4[0][1]

2

In [14]:
list4[1]

[3, 4]

In [18]:
list4[1][0]

3

In [20]:
list4[1][1]

4

In [15]:
list4[2]

[5, 6]

In [21]:
list4[2][0]

5

In [22]:
list4[2][1]

6

In [24]:
pd.DataFrame(list4)

   0  1
0  1  2
1  3  4
2  5  6

In [25]:
list2

[0.5, 'hi', 3]

In [27]:
for item in list2:
    print(item)

0.5
hi
3

In [31]:
for i in range(0, len(list2)):
    print(list2[i])

0.5
hi
3

In [28]:
for item in list4:
    print(item)

[1, 2]
[3, 4]
[5, 6]

In [32]:
len(list4)

3

In [33]:
len(list4[0])

2

In [34]:
for i in range(0, len(list4)):
    for j in range(0, len(list4[0])):
        print(list4[i][j])

1
2
3
4
5
6

In [30]:
for item in list4:
    for inner_item  in item:
        print(inner_item)

1
2
3
4
5
6