In [1]:
print("hi")
print("hi")
print("hi")
print("hi")
print("hi")

hi
hi
hi
hi
hi

In [2]:
for i in range(1, 6):
    print("hi")

hi
hi
hi
hi
hi

In [3]:
i

5

In [5]:
for i in range(0, 5):
    print(i, "hi")

0 hi
1 hi
2 hi
3 hi
4 hi

In [6]:
for i in range(0, 10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [10]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [7]:
for i in range(0, 10, 2):
    print(i)

0
2
4
6
8

In [8]:
for i in range(10, 0, -2):
    print(i)

10
8
6
4
2

In [9]:
for i in range(0, 10, 2):
    print(10-i)

10
8
6
4
2

In [11]:
data = ["a", "b", "c"]
data

['a', 'b', 'c']

In [12]:
data[0]

'a'

In [13]:
data[1]

'b'

In [14]:
data[2]

'c'

In [15]:
for i in range(0, 3):
    print(i, data[i])

0 a
1 b
2 c

In [16]:
for i in range(3):
    print(i, data[i])

0 a
1 b
2 c

In [18]:
for i in range(0, 6):
    print(i)

0
1
2
3
4
5

In [23]:
for i in range(0, 6):
    if(i>=3):
        break
    print(i)
print("out", i)

0
1
2
out 3

In [20]:
for i in range(0, 6):
    if(i%3==2):
        break
    print(i)

0
1

In [25]:
for i in range(0, 6):
    if(i>=3):
        continue
    print(i)
print("out", i)

0
1
2
out 5

In [42]:
num = 7
for i in range(2, num):
    if(num%i == 0):
        print(num, "不是質數")
        break
    elif((num-1) == i):
        print(num, "是質數")

7 是質數

In [43]:
num  = 7
flag = 0
for i in range(2, num):
    if(num%i == 0):
        print(num, "不是質數")
        flag = 1
        break

if(flag == 0):
    print(num, "是質數")

7 是質數

In [44]:
for num in range(2, 10):
    flag = 0
    for i in range(2, num):
        if(num%i == 0):
            print(num, "不是質數")
            flag = 1
            break

    if(flag == 0):
        print(num, "是質數")

2 是質數
3 是質數
4 不是質數
5 是質數
6 不是質數
7 是質數
8 不是質數
9 不是質數

In [45]:
for x in range(2, 6):
    print(x)

2
3
4
5

In [46]:
for x in range(2, 30, 3):
    print(x)

2
5
8
11
14
17
20
23
26
29

In [47]:
for i in range(1, 6):
    print(i)
    if i == 3:
        break

1
2
3

In [48]:
for i in range(1, 6):
    if i == 3:
        continue
    print(i)

1
2
4
5

In [51]:
for i in range(1, 4):
    for j in range(1, 4):
        print("i:", i, "j:", j, ". i*j=", i*j)

i: 1 j: 1 . i*j= 1
i: 1 j: 2 . i*j= 2
i: 1 j: 3 . i*j= 3
i: 2 j: 1 . i*j= 2
i: 2 j: 2 . i*j= 4
i: 2 j: 3 . i*j= 6
i: 3 j: 1 . i*j= 3
i: 3 j: 2 . i*j= 6
i: 3 j: 3 . i*j= 9

In [53]:
data = [[1, 2], [3, 4]]
import pandas as pd
pd.DataFrame(data)

   0  1
0  1  2
1  3  4

In [54]:
data = [[1, 2], [3, 4]]
for i in range(0, 2):
    for j in range(0, 2):
        print(data[i][j])

1
2
3
4