In [1]:
array2 = [[11, 12, 13], [21, 22, 23], [31, 32, 33]]

In [3]:
import pandas as pd

In [4]:
pd.DataFrame(array2)

    0   1   2
0  11  12  13
1  21  22  23
2  31  32  33

In [7]:
array2

[[11, 12, 13], [21, 22, 23], [31, 32, 33]]

In [6]:
array2[0]

[11, 12, 13]

In [9]:
sum(array2[0])

36

In [10]:
total = 0
for i in range(0, len(array2[0])):
    total = total + array2[0][i]
print(total)

36

In [14]:
pd.DataFrame(array2)

    0   1   2
0  11  12  13
1  21  22  23
2  31  32  33

In [13]:
total_row = []
for i in range(0, len(array2)):
    row = 0
    for j in range(0, len(array2[0])):
        row = row + array2[i][j]
    total_row.append(row)
print(total_row)

[36, 66, 96]

In [15]:
sum(total_row)

198

In [16]:
max(total_row)

96

In [18]:
for i in range(0, len(total_row)):
    if(total_row[i]==max(total_row)):
        print(i, total_row[i])

2 96

In [19]:
total_row = []
for i in range(0, len(array2)):
    row = 0
    for j in range(0, len(array2[0])):
        row = row + array2[i][j]
    total_row.append(row)

for i in range(0, len(total_row)):
    if(total_row[i]==max(total_row)):
        print(i, total_row[i])

2 96

In [21]:
pd.DataFrame(array2)

    0   1   2
0  11  12  13
1  21  22  23
2  31  32  33

In [23]:
total_column = []
for j in range(0, len(array2)):
    column = 0
    for i in range(0, len(array2[0])):
        column = column + array2[i][j]
    total_column.append(column)
print(total_column)

for i in range(0, len(total_column)):
    if(total_column[i]==max(total_column)):
        print(i, total_column[i])

[63, 66, 69]
2 69

In [25]:
array2 = [1, 3 ,4 ,6,9, 2, 4]
array2.sort()
array2

[1, 2, 3, 4, 4, 6, 9]

In [37]:
array2 = [8, 3 ,7 ,6, 9, 1, 4]
for i in range(0, len(array2)):
    min_value = 9999
    max_value = -9999
    if(array2[i]<min_value):
        min_value = array2[i]
    if(array2[i]>max_value):
        max_value = array2[i]
print(min_value, max_value)

4 4

In [41]:
min_value = 9999
max_value = -9999
array2 = [8, 3 ,7 ,6, 9, 1, 4]
for i in range(0, len(array2)):
    if(array2[i]<min_value):
        min_value = array2[i]
        print("min", min_value)
    if(array2[i]>max_value):
        max_value = array2[i]
        print("max", max_value)
print(min_value, max_value)

min 8
max 8
min 3
max 9
min 1
1 9

In [44]:
min_value = 9999
min_index = -1
max_value = -9999
max_index = -1
array2 = [8, 3 ,7 ,6, 9, 1, 4]
print(array2)
for i in range(0, len(array2)):
    if(array2[i]<min_value):
        min_value = array2[i]
        min_index = i
    if(array2[i]>max_value):
        max_value = array2[i]
        max_index = i

temp = 0
temp = array2[min_index] 
array2[min_index] = array2[max_index]
array2[max_index] = temp

print(array2)

[8, 3, 7, 6, 9, 1, 4]
[8, 3, 7, 6, 1, 9, 4]

In [46]:
min_value = 9999
min_index = -1
# max_value = -9999
# max_index = -1
array2 = [8, 3 ,7 ,6, 9, 1, 4]
print(array2)
for i in range(0, len(array2)):
    if(array2[i]<min_value):
        min_value = array2[i]
        min_index = i
#     if(array2[i]>max_value):
#         max_value = array2[i]
#         max_index = i

temp = 0
if(array2[0]>min_value):
    temp = array2[min_index] 
    array2[min_index] = array2[0]
    array2[0] = temp

print(array2)

[8, 3, 7, 6, 9, 1, 4]
[1, 3, 7, 6, 9, 8, 4]

In [47]:
array2 = [8, 3 ,7 ,6, 9, 1, 4]
print(array2)

for j in range(0, len(array2)):
    min_value = 9999
    min_index = -1
    # max_value = -9999
    # max_index = -1
    for i in range(0, len(array2)):
        if(array2[i]<min_value):
            min_value = array2[i]
            min_index = i
    #     if(array2[i]>max_value):
    #         max_value = array2[i]
    #         max_index = i

    temp = 0
    if(array2[j]>min_value):
        temp = array2[min_index] 
        array2[min_index] = array2[j]
        array2[j] = temp

    print(array2)

[8, 3, 7, 6, 9, 1, 4]
[1, 3, 7, 6, 9, 8, 4]
[3, 1, 7, 6, 9, 8, 4]
[3, 7, 1, 6, 9, 8, 4]
[3, 7, 6, 1, 9, 8, 4]
[3, 7, 6, 9, 1, 8, 4]
[3, 7, 6, 9, 8, 1, 4]
[3, 7, 6, 9, 8, 4, 1]