In [1]:
import pandas as pd
import numpy as np

In [2]:
pd.__version__

'0.24.1'

In [3]:
import sklearn
sklearn.__version__

'0.21.3'

In [4]:
credit = pd.read_csv("train.csv")

In [5]:
credit.head()

,acqic,bacno,cano,conam,contp,csmcu,ecfg,etymd,flbmk,flg_3dsmk,...,iterm,locdt,loctm,mcc,mchno,ovrlt,scity,stocn,stscd,txkey
0,6881,113261,38038,513.80,5,0,N,0,N,N,...,0,33,172652.0,457,59333,N,0,102,0,516056
1,0,134508,45725,465.62,5,0,N,2,N,N,...,0,9,105114.0,451,0,N,5817,102,0,4376
2,6881,15408,188328,513.80,5,0,N,0,N,N,...,0,6,152458.0,457,59333,N,0,102,0,483434
3,6716,157159,29967,1016.11,5,62,N,5,N,N,...,0,5,172946.0,247,50436,N,3281,102,0,1407164
4,5975,105985,81305,713.66,5,62,N,4,N,N,...,0,6,182129.0,263,93775,N,5817,102,0,1051004

In [6]:
credit.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1521787 entries, 0 to 1521786
Data columns (total 23 columns):
acqic        1521787 non-null int64
bacno        1521787 non-null int64
cano         1521787 non-null int64
conam        1521787 non-null float64
contp        1521787 non-null int64
csmcu        1521787 non-null int64
ecfg         1521787 non-null object
etymd        1521787 non-null int64
flbmk        1509206 non-null object
flg_3dsmk    1509206 non-null object
fraud_ind    1521787 non-null int64
hcefg        1521787 non-null int64
insfg        1521787 non-null object
iterm        1521787 non-null int64
locdt        1521787 non-null int64
loctm        1521787 non-null float64
mcc          1521787 non-null int64
mchno        1521787 non-null int64
ovrlt        1521787 non-null object
scity        1521787 non-null int64
stocn        1521787 non-null int64
stscd        1521787 non-null int64
txkey        1521787 non-null int64
dtypes: float64(2), int64(16), object(5)
memory usage: 267.0+ MB

處理空值-Start

In [7]:
# drop("flbmk", axis=1).drop("flg_3dsmk", axis=1)
# frame = credit.groupby("flbmk")
print(credit["flbmk"].isna().sum())
print(credit["flbmk"].count())
print(credit["flg_3dsmk"].isna().sum())
print(credit["flg_3dsmk"].count())
# groupby()

12581
1509206
12581
1509206

In [8]:
credit.groupby("flbmk").groups

{'N': Int64Index([      0,       1,       2,       3,       4,       5,       6,
                   7,       8,       9,
             ...
             1518236, 1518237, 1518238, 1518239, 1518240, 1518241, 1518242,
             1518243, 1518245, 1518246],
            dtype='int64', length=1504133),
 'Y': Int64Index([    377,    1138,    1568,    1986,    2033,    2597,    2801,
                3014,    3263,    3692,
             ...
             1515580, 1516002, 1516713, 1516922, 1517342, 1517413, 1517479,
             1517513, 1517768, 1517839],
            dtype='int64', length=5073)}

In [9]:
1504133+5073

1509206

In [10]:
import copy

In [11]:
temp = credit.copy()

In [12]:
temp["flbmk"] = temp["flbmk"].fillna("NaN")

In [13]:
temp.groupby("flbmk").groups

{'N': Int64Index([      0,       1,       2,       3,       4,       5,       6,
                   7,       8,       9,
             ...
             1518236, 1518237, 1518238, 1518239, 1518240, 1518241, 1518242,
             1518243, 1518245, 1518246],
            dtype='int64', length=1504133),
 'NaN': Int64Index([   4827,    5906,    7136,    7523,   37299,  539837,  540047,
              540050,  540052,  540055,
             ...
             1521777, 1521778, 1521779, 1521780, 1521781, 1521782, 1521783,
             1521784, 1521785, 1521786],
            dtype='int64', length=12581),
 'Y': Int64Index([    377,    1138,    1568,    1986,    2033,    2597,    2801,
                3014,    3263,    3692,
             ...
             1515580, 1516002, 1516713, 1516922, 1517342, 1517413, 1517479,
             1517513, 1517768, 1517839],
            dtype='int64', length=5073)}

In [14]:
temp["flg_3dsmk"] = temp["flg_3dsmk"].fillna("NaN")
temp.groupby("flg_3dsmk").groups

{'N': Int64Index([      0,       1,       2,       3,       4,       5,       6,
                   7,       8,       9,
             ...
             1518236, 1518237, 1518238, 1518239, 1518240, 1518241, 1518242,
             1518243, 1518245, 1518246],
            dtype='int64', length=1444867),
 'NaN': Int64Index([   4827,    5906,    7136,    7523,   37299,  539837,  540047,
              540050,  540052,  540055,
             ...
             1521777, 1521778, 1521779, 1521780, 1521781, 1521782, 1521783,
             1521784, 1521785, 1521786],
            dtype='int64', length=12581),
 'Y': Int64Index([     48,      71,      79,     118,     132,     147,     157,
                 171,     438,     471,
             ...
             1517935, 1517949, 1517974, 1517995, 1518006, 1518081, 1518083,
             1518096, 1518151, 1518176],
            dtype='int64', length=64339)}

In [15]:
temp.groupby("flbmk").get_group('NaN')["flbmk"].count()

12581

In [16]:
temp.groupby("flbmk").get_group('NaN')["fraud_ind"].sum()

195

In [17]:
credit_data = credit.drop("ecfg", axis=1).drop("ovrlt", axis=1).drop("insfg", axis=1)
# .drop("flbmk", axis=1).drop("flg_3dsmk", axis=1)

In [18]:
credit_data = credit_data.dropna()

In [19]:
credit_data["flbmk"].isna().sum()

0

In [23]:
credit_data = credit_data.drop("flbmk", axis=1).drop("flg_3dsmk", axis=1)

In [24]:
X = credit_data.drop(["fraud_ind"], axis=1)
y = credit_data["fraud_ind"]

處理空值-End

In [ ]:
credit_data = credit.drop("ecfg", axis=1).drop("ovrlt", axis=1).drop("insfg", axis=1)\
.drop("flbmk", axis=1).drop("flg_3dsmk", axis=1)

In [ ]:
credit_data.info()

In [ ]:
credit_data.describe()

In [ ]:
X = credit_data.drop(["fraud_ind"], axis=1)
y = credit_data["fraud_ind"]

In [ ]:
y.head()

In [ ]:
X.head()

處理分類-Start

In [ ]:
from sklearn.preprocessing import LabelEncoder

In [ ]:
credit["ecfg"].head()

In [ ]:
encoder_ecfg = LabelEncoder()
credit_ecfg = credit["ecfg"]
credit_ecfg_encoded = encoder_ecfg.fit_transform(credit_ecfg)
print(encoder_ecfg.classes_)
print(type(credit_ecfg_encoded))
print(credit_ecfg_encoded)

In [ ]:
pd_ecfg = pd.DataFrame(credit_ecfg_encoded, columns=['ecfg'])
pd_ecfg.head()

In [ ]:
encoder_ovrlt = LabelEncoder()
credit_ovrlt = credit["ovrlt"]
credit_ovrlt_encoded = encoder_ovrlt.fit_transform(credit_ovrlt)
print(encoder_ovrlt.classes_)
print(type(credit_ovrlt_encoded))
print(credit_ovrlt_encoded)

In [ ]:
pd_ovrlt = pd.DataFrame(credit_ovrlt_encoded, columns=['ovrlt'])
pd_ovrlt.head()

In [ ]:
encoder_insfg = LabelEncoder()
credit_insfg  = credit["insfg"]
credit_insfg_encoded = encoder_insfg.fit_transform(credit_ovrlt)
print(encoder_insfg.classes_)
print(type(credit_insfg_encoded))
print(credit_insfg_encoded)

In [ ]:
pd_insfg = pd.DataFrame(credit_insfg_encoded, columns=['insfg'])
pd_insfg.head()

處理分類-End

連結X跟分類後的屬性-Start

In [ ]:
# X_temp = pd.concat([X, pd_ecfg], axis=1)
# X_temp = pd.concat([X, pd_ovrlt], axis=1)
# X_temp = pd.concat([X, pd_insfg], axis=1)
X_temp = pd.concat([X, pd_ecfg, pd_ovrlt, pd_insfg], axis=1)

連結X跟分類後的屬性-End

分析類別變數-Start

In [ ]:
frame = credit.groupby("ecfg")
frame.groups.get("N")[-1]

In [ ]:
frame = credit.groupby("ecfg")
frame.groups
print("ecfg Y", frame.get_group("Y")["fraud_ind"].sum())
print("ecfg Y", frame.get_group("Y")["fraud_ind"].sum()/ frame.groups.get("Y")[-1])
print("ecfg N", frame.get_group("N")["fraud_ind"].sum())
print("ecfg N", frame.get_group("N")["fraud_ind"].sum()/ frame.groups.get("N")[-1])
frame = credit.groupby("ovrlt")
frame.groups
print("ovrlt Y", frame.get_group("Y")["fraud_ind"].sum())
print("ovrlt Y", frame.get_group("Y")["fraud_ind"].sum()/ frame.groups.get("Y")[-1])
print("ovrlt N", frame.get_group("N")["fraud_ind"].sum())
print("ovrlt N", frame.get_group("N")["fraud_ind"].sum()/ frame.groups.get("N")[-1])
frame = credit.groupby("insfg")
frame.groups
print("insfg Y", frame.get_group("Y")["fraud_ind"].sum())
print("insfg Y", frame.get_group("Y")["fraud_ind"].sum()/ frame.groups.get("Y")[-1])
print("insfg N", frame.get_group("N")["fraud_ind"].sum())
print("insfg N", frame.get_group("N")["fraud_ind"].sum()/ frame.groups.get("N")[-1])

分析類別變數-End

In [25]:
# from sklearn.model_selection import train_test_split
# X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)
# X_train = X_temp
X_train = X
y_train = y

In [26]:
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.ensemble import AdaBoostClassifier
import xgboost as xgb
# import lightgbm as lgb
# clf = LogisticRegression(random_state=0, solver='lbfgs',
#                          multi_class='multinomial').fit(X_train, y_train)
clf = RandomForestClassifier().fit(X_train, y_train)
# clf = GradientBoostingClassifier().fit(X_train, y_train)
# clf = AdaBoostClassifier().fit(X_train, y_train)
# clf = xgb.XGBClassifier().fit(X_train, y_train)

C:\Users\lee\AppData\Local\conda\conda\envs\shu\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

In [27]:
clf.predict(X_train)

array([0, 0, 0, ..., 0, 0, 0], dtype=int64)

In [28]:
y_train.to_numpy()

array([0, 0, 0, ..., 0, 0, 0], dtype=int64)

In [29]:
from sklearn.metrics import f1_score
f1_score(y_train.to_numpy(), clf.predict(X_train), average='micro')

0.9993142089284034

In [30]:
# f1_score(y_test.to_numpy(), clf.predict(X_test), average='micro')

In [31]:
credit_test = pd.read_csv("test.csv")

In [32]:
X.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1509206 entries, 0 to 1518246
Data columns (total 17 columns):
acqic    1509206 non-null int64
bacno    1509206 non-null int64
cano     1509206 non-null int64
conam    1509206 non-null float64
contp    1509206 non-null int64
csmcu    1509206 non-null int64
etymd    1509206 non-null int64
hcefg    1509206 non-null int64
iterm    1509206 non-null int64
locdt    1509206 non-null int64
loctm    1509206 non-null float64
mcc      1509206 non-null int64
mchno    1509206 non-null int64
scity    1509206 non-null int64
stocn    1509206 non-null int64
stscd    1509206 non-null int64
txkey    1509206 non-null int64
dtypes: float64(2), int64(15)
memory usage: 207.3 MB

In [33]:
credit_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 421665 entries, 0 to 421664
Data columns (total 22 columns):
acqic        421665 non-null int64
bacno        421665 non-null int64
cano         421665 non-null int64
conam        421665 non-null float64
contp        421665 non-null int64
csmcu        421665 non-null int64
ecfg         421665 non-null object
etymd        421665 non-null int64
flbmk        417950 non-null object
flg_3dsmk    417950 non-null object
hcefg        421665 non-null int64
insfg        421665 non-null object
iterm        421665 non-null int64
locdt        421665 non-null int64
loctm        421665 non-null float64
mcc          421665 non-null int64
mchno        421665 non-null int64
ovrlt        421665 non-null object
scity        421665 non-null int64
stocn        421665 non-null int64
stscd        421665 non-null int64
txkey        421665 non-null int64
dtypes: float64(2), int64(15), object(5)
memory usage: 70.8+ MB

In [34]:
X_test = credit_test.drop("ecfg", axis=1).drop("flbmk", axis=1)\
.drop("flg_3dsmk", axis=1).drop("insfg", axis=1).drop("ovrlt", axis=1)

In [35]:
X_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 421665 entries, 0 to 421664
Data columns (total 17 columns):
acqic    421665 non-null int64
bacno    421665 non-null int64
cano     421665 non-null int64
conam    421665 non-null float64
contp    421665 non-null int64
csmcu    421665 non-null int64
etymd    421665 non-null int64
hcefg    421665 non-null int64
iterm    421665 non-null int64
locdt    421665 non-null int64
loctm    421665 non-null float64
mcc      421665 non-null int64
mchno    421665 non-null int64
scity    421665 non-null int64
stocn    421665 non-null int64
stscd    421665 non-null int64
txkey    421665 non-null int64
dtypes: float64(2), int64(15)
memory usage: 54.7 MB

test 補上分類的feature-Start

In [36]:
credit_test["ecfg"].head()

0    N
1    N
2    N
3    N
4    N
Name: ecfg, dtype: object

In [37]:
credit_ecfg_encoded_test = encoder_ecfg.transform(credit_test["ecfg"])
pd_ecfg_test = pd.DataFrame(credit_ecfg_encoded_test, columns=['ecfg'])
pd_ecfg_test.head()

NameError: name 'encoder_ecfg' is not defined

In [ ]:
credit_ovrlt_encoded_test = encoder_ovrlt.fit_transform(credit_test["ovrlt"])
pd_ovrlt_test = pd.DataFrame(credit_ovrlt_encoded_test, columns=['ovrlt'])
pd_ovrlt_test.head()

In [ ]:
credit_insfg_encoded_test = encoder_insfg.fit_transform(credit_test["insfg"])
pd_insfg_test = pd.DataFrame(credit_insfg_encoded_test, columns=['insfg'])
pd_insfg_test.head()

test 補上分類的feature-End

In [ ]:
type(X_test)

In [ ]:
type(credit_ecfg_encoded_test)

In [ ]:
# X_temp_test = pd.concat([X_test, pd_ecfg_test], axis=1)
# X_temp_test = pd.concat([X_test, pd_ovrlt_test], axis=1)
# X_temp_test = pd.concat([X_test, pd_insfg_test], axis=1)
X_temp_test = pd.concat([X_test, pd_ecfg_test, pd_ovrlt_test, pd_insfg_test], axis=1)

In [ ]:
y_test = clf.predict(X_temp_test)

In [ ]:
y_test.shape

In [ ]:
X_test.head()

In [ ]:
pd.DataFrame(y_test).head()

In [ ]:
credit_test_submit = pd.read_csv("submission_test.csv")
type(credit_test_submit["fraud_ind"])

In [ ]:
type(pd.DataFrame(y_test))

In [ ]:
credit_test_submit["fraud_ind"] = pd.DataFrame(y_test)

In [ ]:
credit_test_submit.head()

In [ ]:
credit_test_submit.to_csv("output.csv", index=False)