In [1]:
import pandas as pd
import numpy as np

In [2]:
pd.__version__

'0.24.1'

In [3]:
import sklearn
sklearn.__version__

'0.21.3'

In [4]:
credit = pd.read_csv("train.csv")

In [5]:
credit.head()

,acqic,bacno,cano,conam,contp,csmcu,ecfg,etymd,flbmk,flg_3dsmk,...,iterm,locdt,loctm,mcc,mchno,ovrlt,scity,stocn,stscd,txkey
0,6881,113261,38038,513.80,5,0,N,0,N,N,...,0,33,172652.0,457,59333,N,0,102,0,516056
1,0,134508,45725,465.62,5,0,N,2,N,N,...,0,9,105114.0,451,0,N,5817,102,0,4376
2,6881,15408,188328,513.80,5,0,N,0,N,N,...,0,6,152458.0,457,59333,N,0,102,0,483434
3,6716,157159,29967,1016.11,5,62,N,5,N,N,...,0,5,172946.0,247,50436,N,3281,102,0,1407164
4,5975,105985,81305,713.66,5,62,N,4,N,N,...,0,6,182129.0,263,93775,N,5817,102,0,1051004

In [6]:
credit.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1521787 entries, 0 to 1521786
Data columns (total 23 columns):
acqic        1521787 non-null int64
bacno        1521787 non-null int64
cano         1521787 non-null int64
conam        1521787 non-null float64
contp        1521787 non-null int64
csmcu        1521787 non-null int64
ecfg         1521787 non-null object
etymd        1521787 non-null int64
flbmk        1509206 non-null object
flg_3dsmk    1509206 non-null object
fraud_ind    1521787 non-null int64
hcefg        1521787 non-null int64
insfg        1521787 non-null object
iterm        1521787 non-null int64
locdt        1521787 non-null int64
loctm        1521787 non-null float64
mcc          1521787 non-null int64
mchno        1521787 non-null int64
ovrlt        1521787 non-null object
scity        1521787 non-null int64
stocn        1521787 non-null int64
stscd        1521787 non-null int64
txkey        1521787 non-null int64
dtypes: float64(2), int64(16), object(5)
memory usage: 267.0+ MB

處理空值-Start

In [7]:
# drop("flbmk", axis=1).drop("flg_3dsmk", axis=1)
# frame = credit.groupby("flbmk")
print(credit["flbmk"].isna().sum())
print(credit["flbmk"].count())
print(credit["flg_3dsmk"].isna().sum())
print(credit["flg_3dsmk"].count())
# groupby()

12581
1509206
12581
1509206

In [8]:
credit.groupby("flbmk").groups

{'N': Int64Index([      0,       1,       2,       3,       4,       5,       6,
                   7,       8,       9,
             ...
             1518236, 1518237, 1518238, 1518239, 1518240, 1518241, 1518242,
             1518243, 1518245, 1518246],
            dtype='int64', length=1504133),
 'Y': Int64Index([    377,    1138,    1568,    1986,    2033,    2597,    2801,
                3014,    3263,    3692,
             ...
             1515580, 1516002, 1516713, 1516922, 1517342, 1517413, 1517479,
             1517513, 1517768, 1517839],
            dtype='int64', length=5073)}

In [9]:
1504133+5073

1509206

In [10]:
import copy

In [11]:
temp = credit.copy()

In [12]:
temp["flbmk"] = temp["flbmk"].fillna("NaN")

In [13]:
temp.groupby("flbmk").groups

{'N': Int64Index([      0,       1,       2,       3,       4,       5,       6,
                   7,       8,       9,
             ...
             1518236, 1518237, 1518238, 1518239, 1518240, 1518241, 1518242,
             1518243, 1518245, 1518246],
            dtype='int64', length=1504133),
 'NaN': Int64Index([   4827,    5906,    7136,    7523,   37299,  539837,  540047,
              540050,  540052,  540055,
             ...
             1521777, 1521778, 1521779, 1521780, 1521781, 1521782, 1521783,
             1521784, 1521785, 1521786],
            dtype='int64', length=12581),
 'Y': Int64Index([    377,    1138,    1568,    1986,    2033,    2597,    2801,
                3014,    3263,    3692,
             ...
             1515580, 1516002, 1516713, 1516922, 1517342, 1517413, 1517479,
             1517513, 1517768, 1517839],
            dtype='int64', length=5073)}

In [14]:
temp["flg_3dsmk"] = temp["flg_3dsmk"].fillna("NaN")
temp.groupby("flg_3dsmk").groups

{'N': Int64Index([      0,       1,       2,       3,       4,       5,       6,
                   7,       8,       9,
             ...
             1518236, 1518237, 1518238, 1518239, 1518240, 1518241, 1518242,
             1518243, 1518245, 1518246],
            dtype='int64', length=1444867),
 'NaN': Int64Index([   4827,    5906,    7136,    7523,   37299,  539837,  540047,
              540050,  540052,  540055,
             ...
             1521777, 1521778, 1521779, 1521780, 1521781, 1521782, 1521783,
             1521784, 1521785, 1521786],
            dtype='int64', length=12581),
 'Y': Int64Index([     48,      71,      79,     118,     132,     147,     157,
                 171,     438,     471,
             ...
             1517935, 1517949, 1517974, 1517995, 1518006, 1518081, 1518083,
             1518096, 1518151, 1518176],
            dtype='int64', length=64339)}

In [15]:
temp.groupby("flbmk").get_group('NaN')["flbmk"].count()

12581

In [16]:
temp.groupby("flbmk").get_group('NaN').head()

,acqic,bacno,cano,conam,contp,csmcu,ecfg,etymd,flbmk,flg_3dsmk,...,iterm,locdt,loctm,mcc,mchno,ovrlt,scity,stocn,stscd,txkey
4827,6881,126303,109048,513.80,5,75,N,0,NaN,NaN,...,0,32,94554.0,457,86584,N,0,102,0,514184
5906,0,85832,151082,465.62,5,75,N,2,NaN,NaN,...,0,75,101125.0,451,0,N,5817,102,0,35813
7136,6769,79167,66200,1.38,5,75,Y,8,NaN,NaN,...,0,62,95159.0,373,79246,N,5817,102,0,174845
7523,0,108456,157230,465.62,5,75,N,2,NaN,NaN,...,0,58,101823.0,451,0,N,5817,102,0,27683
37299,0,137666,179303,465.62,5,75,N,2,NaN,NaN,...,0,8,104449.0,451,0,N,5817,102,0,3523

In [17]:
temp.groupby("flbmk").get_group('NaN')["flbmk"].head()

4827     NaN
5906     NaN
7136     NaN
7523     NaN
37299    NaN
Name: flbmk, dtype: object

In [18]:
temp.groupby("flbmk").get_group('NaN')["fraud_ind"].sum()

195

In [19]:
temp.groupby("flbmk").get_group('NaN')["fraud_ind"].head()

4827     0
5906     0
7136     0
7523     0
37299    0
Name: fraud_ind, dtype: int64

In [20]:
credit_data = temp.dropna()

In [21]:
credit_data["flbmk"].isna().sum()

0

In [22]:
credit_data = credit.dropna()
credit_data["flbmk"].isna().sum()

0

In [23]:
credit_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1509206 entries, 0 to 1518246
Data columns (total 23 columns):
acqic        1509206 non-null int64
bacno        1509206 non-null int64
cano         1509206 non-null int64
conam        1509206 non-null float64
contp        1509206 non-null int64
csmcu        1509206 non-null int64
ecfg         1509206 non-null object
etymd        1509206 non-null int64
flbmk        1509206 non-null object
flg_3dsmk    1509206 non-null object
fraud_ind    1509206 non-null int64
hcefg        1509206 non-null int64
insfg        1509206 non-null object
iterm        1509206 non-null int64
locdt        1509206 non-null int64
loctm        1509206 non-null float64
mcc          1509206 non-null int64
mchno        1509206 non-null int64
ovrlt        1509206 non-null object
scity        1509206 non-null int64
stocn        1509206 non-null int64
stscd        1509206 non-null int64
txkey        1509206 non-null int64
dtypes: float64(2), int64(16), object(5)
memory usage: 276.3+ MB

處理分類-Start

In [24]:
from sklearn.preprocessing import LabelEncoder

In [25]:
print(credit_data["ecfg"].head())
encoder_ecfg = LabelEncoder()
credit_ecfg = credit_data["ecfg"]
credit_ecfg_encoded = encoder_ecfg.fit_transform(credit_ecfg)
# print(encoder_ecfg.classes_)
# print(type(credit_ecfg_encoded))
# print(credit_ecfg_encoded)
pd_ecfg = pd.DataFrame(credit_ecfg_encoded, columns=['ecfg'], dtype='int64')

0    N
1    N
2    N
3    N
4    N
Name: ecfg, dtype: object

In [26]:
encoder_ovrlt = LabelEncoder()
credit_ovrlt = credit_data["ovrlt"]
credit_ovrlt_encoded = encoder_ovrlt.fit_transform(credit_ovrlt)
print(encoder_ovrlt.classes_)
print(type(credit_ovrlt_encoded))
print(credit_ovrlt_encoded)
pd_ovrlt = pd.DataFrame(credit_ovrlt_encoded, columns=['ovrlt'], dtype='int64')

['N' 'Y']
<class 'numpy.ndarray'>
[0 0 0 ... 0 0 0]

In [27]:
encoder_insfg = LabelEncoder()
credit_insfg  = credit_data["insfg"]
credit_insfg_encoded = encoder_insfg.fit_transform(credit_ovrlt)
print(encoder_insfg.classes_)
print(type(credit_insfg_encoded))
print(credit_insfg_encoded)
pd_insfg = pd.DataFrame(credit_insfg_encoded, columns=['insfg'], dtype='int64')

['N' 'Y']
<class 'numpy.ndarray'>
[0 0 0 ... 0 0 0]

In [28]:
encoder_flbmk = LabelEncoder()
credit_flbmk  = credit_data["flbmk"]
credit_flbmk_encoded = encoder_flbmk.fit_transform(credit_flbmk)
pd_flbmk = pd.DataFrame(credit_flbmk_encoded, columns=['flbmk'], dtype='int64')
pd_flbmk.head()

   flbmk
0      0
1      0
2      0
3      0
4      0

In [29]:
encoder_flg_3dsmk = LabelEncoder()
credit_flg_3dsmk  = credit_data["flg_3dsmk"]
credit_flg_3dsmk_encoded = encoder_flg_3dsmk.fit_transform(credit_flg_3dsmk)
pd_flg_3dsmk = pd.DataFrame(credit_flg_3dsmk_encoded, columns=['flg_3dsmk'], dtype='int64')
pd_flg_3dsmk.head()

   flg_3dsmk
0          0
1          0
2          0
3          0
4          0

處理分類-End

In [30]:
print(credit_data["ecfg"].isna().sum())
print(credit_data["ovrlt"].isna().sum())
print(credit_data["insfg"].isna().sum())
print(credit_data["flbmk"].isna().sum())
print(credit_data["flg_3dsmk"].isna().sum())

0
0
0
0
0

In [31]:
print(credit_data["ecfg"].count())
print(credit_data["ovrlt"].count())
print(credit_data["insfg"].count())
print(credit_data["flbmk"].count())
print(credit_data["flg_3dsmk"].count())

1509206
1509206
1509206
1509206
1509206

In [32]:
credit_data.isna().sum()

acqic        0
bacno        0
cano         0
conam        0
contp        0
csmcu        0
ecfg         0
etymd        0
flbmk        0
flg_3dsmk    0
fraud_ind    0
hcefg        0
insfg        0
iterm        0
locdt        0
loctm        0
mcc          0
mchno        0
ovrlt        0
scity        0
stocn        0
stscd        0
txkey        0
dtype: int64

In [33]:
credit_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1509206 entries, 0 to 1518246
Data columns (total 23 columns):
acqic        1509206 non-null int64
bacno        1509206 non-null int64
cano         1509206 non-null int64
conam        1509206 non-null float64
contp        1509206 non-null int64
csmcu        1509206 non-null int64
ecfg         1509206 non-null object
etymd        1509206 non-null int64
flbmk        1509206 non-null object
flg_3dsmk    1509206 non-null object
fraud_ind    1509206 non-null int64
hcefg        1509206 non-null int64
insfg        1509206 non-null object
iterm        1509206 non-null int64
locdt        1509206 non-null int64
loctm        1509206 non-null float64
mcc          1509206 non-null int64
mchno        1509206 non-null int64
ovrlt        1509206 non-null object
scity        1509206 non-null int64
stocn        1509206 non-null int64
stscd        1509206 non-null int64
txkey        1509206 non-null int64
dtypes: float64(2), int64(16), object(5)
memory usage: 276.3+ MB

In [34]:
credit_data = credit_data.drop("ecfg", axis=1).drop("ovrlt", axis=1)\
.drop("insfg", axis=1).drop("flbmk", axis=1).drop("flg_3dsmk", axis=1)

In [35]:
credit_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1509206 entries, 0 to 1518246
Data columns (total 18 columns):
acqic        1509206 non-null int64
bacno        1509206 non-null int64
cano         1509206 non-null int64
conam        1509206 non-null float64
contp        1509206 non-null int64
csmcu        1509206 non-null int64
etymd        1509206 non-null int64
fraud_ind    1509206 non-null int64
hcefg        1509206 non-null int64
iterm        1509206 non-null int64
locdt        1509206 non-null int64
loctm        1509206 non-null float64
mcc          1509206 non-null int64
mchno        1509206 non-null int64
scity        1509206 non-null int64
stocn        1509206 non-null int64
stscd        1509206 non-null int64
txkey        1509206 non-null int64
dtypes: float64(2), int64(16)
memory usage: 218.8 MB

In [36]:
credit_data.isna().sum()

acqic        0
bacno        0
cano         0
conam        0
contp        0
csmcu        0
etymd        0
fraud_ind    0
hcefg        0
iterm        0
locdt        0
loctm        0
mcc          0
mchno        0
scity        0
stocn        0
stscd        0
txkey        0
dtype: int64

In [37]:
X = credit_data.drop(["fraud_ind"], axis=1)
y = credit_data["fraud_ind"]

In [38]:
X.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1509206 entries, 0 to 1518246
Data columns (total 17 columns):
acqic    1509206 non-null int64
bacno    1509206 non-null int64
cano     1509206 non-null int64
conam    1509206 non-null float64
contp    1509206 non-null int64
csmcu    1509206 non-null int64
etymd    1509206 non-null int64
hcefg    1509206 non-null int64
iterm    1509206 non-null int64
locdt    1509206 non-null int64
loctm    1509206 non-null float64
mcc      1509206 non-null int64
mchno    1509206 non-null int64
scity    1509206 non-null int64
stocn    1509206 non-null int64
stscd    1509206 non-null int64
txkey    1509206 non-null int64
dtypes: float64(2), int64(15)
memory usage: 207.3 MB

In [39]:
X.isna().sum()

acqic    0
bacno    0
cano     0
conam    0
contp    0
csmcu    0
etymd    0
hcefg    0
iterm    0
locdt    0
loctm    0
mcc      0
mchno    0
scity    0
stocn    0
stscd    0
txkey    0
dtype: int64

In [40]:
y.isna().sum()

0

In [41]:
y.count()

1509206

In [42]:
X.head()

,acqic,bacno,cano,conam,contp,csmcu,etymd,hcefg,iterm,locdt,loctm,mcc,mchno,scity,stocn,stscd,txkey
0,6881,113261,38038,513.80,5,0,0,5,0,33,172652.0,457,59333,0,102,0,516056
1,0,134508,45725,465.62,5,0,2,0,0,9,105114.0,451,0,5817,102,0,4376
2,6881,15408,188328,513.80,5,0,0,5,0,6,152458.0,457,59333,0,102,0,483434
3,6716,157159,29967,1016.11,5,62,5,5,0,5,172946.0,247,50436,3281,102,0,1407164
4,5975,105985,81305,713.66,5,62,4,5,0,6,182129.0,263,93775,5817,102,0,1051004

In [43]:
pd_ecfg.head()

   ecfg
0     0
1     0
2     0
3     0
4     0

In [51]:
X= X.reset_index()

In [52]:
# X_temp = pd.concat([pd_ecfg, pd_ovrlt, pd_insfg], axis=1)
# X_temp = pd.concat([X, pd_ecfg], axis=1, copy =True)
X_temp = pd.concat([X, pd_ecfg, pd_ovrlt, pd_insfg], axis=1)
# X_temp = pd.concat([X], axis=1)

In [53]:
3927+1509206

1513133

In [54]:
X_temp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1509206 entries, 0 to 1509205
Data columns (total 21 columns):
index    1509206 non-null int64
acqic    1509206 non-null int64
bacno    1509206 non-null int64
cano     1509206 non-null int64
conam    1509206 non-null float64
contp    1509206 non-null int64
csmcu    1509206 non-null int64
etymd    1509206 non-null int64
hcefg    1509206 non-null int64
iterm    1509206 non-null int64
locdt    1509206 non-null int64
loctm    1509206 non-null float64
mcc      1509206 non-null int64
mchno    1509206 non-null int64
scity    1509206 non-null int64
stocn    1509206 non-null int64
stscd    1509206 non-null int64
txkey    1509206 non-null int64
ecfg     1509206 non-null int64
ovrlt    1509206 non-null int64
insfg    1509206 non-null int64
dtypes: float64(2), int64(19)
memory usage: 241.8 MB

In [55]:
X_temp.isna().sum()

index    0
acqic    0
bacno    0
cano     0
conam    0
contp    0
csmcu    0
etymd    0
hcefg    0
iterm    0
locdt    0
loctm    0
mcc      0
mchno    0
scity    0
stocn    0
stscd    0
txkey    0
ecfg     0
ovrlt    0
insfg    0
dtype: int64

In [56]:
X_train = X_temp
y_train = y

In [ ]:
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.ensemble import AdaBoostClassifier
import xgboost as xgb
# import lightgbm as lgb
# clf = LogisticRegression(random_state=0, solver='lbfgs',
#                          multi_class='multinomial').fit(X_train, y_train)
clf = RandomForestClassifier().fit(X_train, y_train)
# clf = GradientBoostingClassifier().fit(X_train, y_train)
# clf = AdaBoostClassifier().fit(X_train, y_train)
# clf = xgb.XGBClassifier().fit(X_train, y_train)

C:\Users\lee\AppData\Local\conda\conda\envs\shu\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

In [ ]:
from sklearn.metrics import f1_score
f1_score(y_train.to_numpy(), clf.predict(X_train), average='micro')