In [1]:
import pandas as pd

In [5]:
pd.read_excel('test.xlsx',  sheet_name='sheet1', header=None)

   0  1  2
0  1  1  1
1  1  1  1
2  1  1  1

In [6]:
pd.read_excel('test.xlsx',  sheet_name='sheet2', header=None)

   0  1  2
0  2  2  2
1  2  2  2
2  2  2  2

In [7]:
pd.read_excel('test.xlsx',  sheet_name=None, header=None)

{'sheet1':    0  1  2
 0  1  1  1
 1  1  1  1
 2  1  1  1,
 'sheet2':    0  1  2
 0  2  2  2
 1  2  2  2
 2  2  2  2,
 'sheet3':    0  1  2
 0  3  3  3
 1  3  3  3
 2  3  3  3}

In [8]:
result = pd.read_excel('test.xlsx',  sheet_name=None, header=None)

In [9]:
result

{'sheet1':    0  1  2
 0  1  1  1
 1  1  1  1
 2  1  1  1,
 'sheet2':    0  1  2
 0  2  2  2
 1  2  2  2
 2  2  2  2,
 'sheet3':    0  1  2
 0  3  3  3
 1  3  3  3
 2  3  3  3}

In [11]:
result.keys()

dict_keys(['sheet1', 'sheet2', 'sheet3'])

In [13]:
result.values()

dict_values([   0  1  2
0  1  1  1
1  1  1  1
2  1  1  1,    0  1  2
0  2  2  2
1  2  2  2
2  2  2  2,    0  1  2
0  3  3  3
1  3  3  3
2  3  3  3])

In [15]:
result["sheet1"]

   0  1  2
0  1  1  1
1  1  1  1
2  1  1  1

In [17]:
list(result.keys())

['sheet1', 'sheet2', 'sheet3']

In [18]:
list(result.keys())[0]

'sheet1'

In [21]:
data = []
for i in range(0, len(list(result.keys()))):
    data.append(result[list(result.keys())[i]])

In [22]:
data[0]

   0  1  2
0  1  1  1
1  1  1  1
2  1  1  1

In [23]:
data[1]

   0  1  2
0  2  2  2
1  2  2  2
2  2  2  2

In [25]:
data[2]

   0  1  2
0  3  3  3
1  3  3  3
2  3  3  3

In [26]:
len(data)

3

In [28]:
data[0].iloc[0][0]

1

In [29]:
temp = [[6, 6, 6],[6, 6, 6],[6, 6, 6]]
pd.DataFrame(temp)

   0  1  2
0  6  6  6
1  6  6  6
2  6  6  6