In [1]:
list1 = [1, 2, 3]
list1

[1, 2, 3]

In [2]:
list2 = [[1, 2], [3, 4], [5, 6]]
list2

[[1, 2], [3, 4], [5, 6]]

In [3]:
list2[0]

[1, 2]

In [4]:
list2[0][0]

1

In [5]:
list2[0][1]

2

In [6]:
list2[1]

[3, 4]

In [7]:
list2[1][0]

3

In [8]:
list2[1][1]

4

In [9]:
list2

[[1, 2], [3, 4], [5, 6]]

In [10]:
len(list2)

3

In [12]:
list2[0]

[1, 2]

In [11]:
len(list2[0])

2

In [13]:
list2[1]

[3, 4]

In [14]:
len(list2[1])

2

In [15]:
list2[2]

[5, 6]

In [16]:
len(list2[2])

2

In [17]:
for i in range(0, len(list2)):
    print(i, list2[i])

0 [1, 2]
1 [3, 4]
2 [5, 6]

In [19]:
for i in range(0, len(list2)):
    for j in range(0, len(list2[0])):
        print(i, j, list2[i][j])

0 0 1
0 1 2
1 0 3
1 1 4
2 0 5
2 1 6

In [21]:
for i in range(0, len(list2)):
    print(i, "0", list2[i][0])
    print(i, "1", list2[i][1])

0 0 1
0 1 2
1 0 3
1 1 4
2 0 5
2 1 6

In [22]:
list3 = [[1, 2], [3, 4]]
list3

[[1, 2], [3, 4]]

In [23]:
import pandas as pd

In [25]:
pd.DataFrame(list3)

   0  1
0  1  2
1  3  4

In [26]:
for i in range(0, len(list3)):
    for j in range(0, len(list3[0])):
        print(i, j)

0 0
0 1
1 0
1 1

In [27]:
for i in range(0, len(list3)):
    for j in range(0, len(list3[0])):
        if(i==j):
            print(i, j)

0 0
1 1

In [29]:
total_a = 0
for i in range(0, len(list3)):
    for j in range(0, len(list3[0])):
        if(i==j):
#             print(i, j)
            total_a = total_a + list3[i][j]
print(total_a)

5

In [30]:
for i in range(0, len(list3)):
    for j in range(0, len(list3[0])):
        if(i!=j):
            print(i, j)

0 1
1 0

In [33]:
total_a = 1
for i in range(0, len(list3)):
    for j in range(0, len(list3[0])):
        if(i!=j):
#             print(i, j)
            total_a = total_a * list3[i][j]
print(total_a)

6

In [34]:
data = []
for i in range(0, 4):
    data.append(i)
data

[0, 1, 2, 3]

In [35]:
data = []
for i in range(1, 7):
    data.append(i)
data

[1, 2, 3, 4, 5, 6]

In [37]:
data = []
row  = []
for i in range(1, 7):
    row.append(i)
    if i%2==0:
        data.append(row)
        row = []
data

[[1, 2], [3, 4], [5, 6]]

In [38]:
data = []
for i in range(1, 4):
    row = []
    for j in range(1, 3):
        row.append(i+j)
    data.append(row)
data

[[2, 3], [3, 4], [4, 5]]