In [4]:
import pandas as pd

In [5]:
df = pd.DataFrame({'Animal': ['Falcon',\
'Falcon', 'Parrot', 'Parrot'], 'Max Speed': [380., 370., 24., 26.]})
# df.groupby(['Animal']).mean()

In [6]:
df

   Animal  Max Speed
0  Falcon      380.0
1  Falcon      370.0
2  Parrot       24.0
3  Parrot       26.0

In [7]:
df.groupby("Animal")

In [8]:
df.groupby("Animal").groups

{'Falcon': Int64Index([0, 1], dtype='int64'),
 'Parrot': Int64Index([2, 3], dtype='int64')}

In [10]:
df.groupby("Animal").get_group("Falcon")

   Animal  Max Speed
0  Falcon      380.0
1  Falcon      370.0

In [12]:
df.groupby("Animal").get_group("Falcon")["Max Speed"]

0    380.0
1    370.0
Name: Max Speed, dtype: float64

In [13]:
df.groupby("Animal").get_group("Falcon")["Max Speed"].mean()

375.0