In [1]:
import pandas as pd

In [13]:
C = []
row = []
row.append(1)
row.append(2)
C.append(row)
row = []
row.append(3)
row.append(4)
C.append(row)
row = []
row.append(5)
row.append(6)
C.append(row)
row = []
row.append(7)
row.append(8)
C.append(row)
# print( pd.DataFrame(row) )
print( pd.DataFrame(C) )

   0  1
0  1  2
1  3  4
2  5  6
3  7  8

In [14]:
C = []
number = 1
for i in range(0, 4):
    row = []
    for j in range(0, 2):
        row.append(number)
        number = number +1
    C.append(row)

In [17]:
pd.DataFrame(C)

   0  1
0  1  2
1  3  4
2  5  6
3  7  8

In [24]:
tot2 = []
for i in range(0, len(C)):
    temp = 0
    for j in range(0, len(C[0])):
        temp = temp + C[i][j]
    tot2.append(temp)
pd.DataFrame(tot2)

    0
0   3
1   7
2  11
3  15

In [18]:
len(C)

4

In [19]:
len(C[0])

2

In [20]:
C

[[1, 2], [3, 4], [5, 6], [7, 8]]

In [21]:
C[0]

[1, 2]

In [23]:
tot = 0
for i in range(0, len(C)):
    tot = tot + C[i][0]
tot

16

In [15]:
pd.DataFrame(C)

   0  1
0  1  2
1  3  4
2  5  6
3  7  8

In [ ]:
A = [1, 2, 3]
B = [[1, 2], [3, 4], [5, 6]]

In [ ]:
pd.DataFrame(B)

In [ ]:
C = []
number = 1
for i in range(0, 3):
    row = []
    for j in range(0, 2):
        row.append(number)
        number = number +1
    C.append(row)

In [ ]:
pd.DataFrame(C)

In [ ]:
w = [1, 3, 3]

In [ ]:
w

In [ ]:
w.append(5)

In [ ]:
w

In [ ]:
w.append([6, 7])

In [ ]:
w

In [ ]:
pd.DataFrame(w)

In [ ]:
B[0][0]

In [ ]:
B[2][1]

In [ ]:
len(A)

In [ ]:
for i in range(0, len(A)):
    print(A[i])

In [ ]:
A[0]

In [ ]:
A[1]

In [ ]:
A[2]

In [ ]:
A[3]